@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

body {
  font-family: "Story Script", sans-serif;
  background-color: #fff8f0;
  color: #333;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  background: #fff;
  padding: 10px;
  position: relative;
}

header h1 {
  position: absolute;
  left: 5%;
}

a {
  text-decoration: none;
}

header a {
  color: #504b45;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.links {
  letter-spacing: 5px;
}

header nav a:hover,
header nav a:active {
  text-decoration: underline;
}

header .nav-links {
  position: absolute;
  right: 5%;
}

#login,
#cart {
  padding: 10px 20px;
  background-color: #ffae42;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
}

.homepage {
  background: #fff;
  margin: 20px 0;
  padding: 40px;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner a {
  position: absolute;
  top: 45%;
  left: 45%;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 5px;
}

.banner a:hover,
.banner a:active {
  text-decoration: underline;
}

footer {
  background: #fff;
  padding: 20px;
}

#cart:hover,
#login:hover {
  background-color: #e2952f;
  box-shadow: 1px 1px #bd9d59;
}

.menu {
  display: none;
}

.links.active {
  display: flex;
  letter-spacing: 2px;
  flex-direction: column;
  background: antiquewhite;
  padding: 45px 40px 10px;
  position: relative;
  left: -26%;
  top: 45%;
  z-index: 1;
}

@media screen and (max-width:780px) {
  header h1 {
    top: 0px;
    left: 35%;
  }

  .links {
    display: none;
    letter-spacing: 2px;
  }

  .menu {
    position: absolute;
    left: 15%;
    bottom: 18%;
    display: block;
    z-index: 5;
  }

  .nav-links {
    bottom: 25%;
  }

  #login,
  #cart {
    padding: 5px 10px;
    font-size: 12px;
  }

  .homepage {
    padding: 20px;
  }

  .homepage a {
    font-size: 25px;
    left: 20%;
    top: 40%;
  }
  .homepage .banner img{
    height: 500px;
  }
}